<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Athens</key>
	<integer>1896</integer>
	<key>London</key>
	<real>2012</real>
	<key>Vancouver</key>
	<real>2010</real>
	<key>Stockholm</key>
	<integer>1908</integer>
	<key>Berlin</key>
	<integer>1916</integer>
	<key>Antwerp</key>
	<integer>1920</integer>
	<key>Chamonix</key>
	<integer>1924</integer>
	<key>Amsterdam</key>
	<integer>1928</integer>
	<key>LakePlacid</key>
	<integer>1932</integer>
	<key>LosAngeles</key>
	<integer>1984</integer>
	<key>Calgary</key>
	<integer>1988</integer>
	<key>Montreal</key>
	<integer>1976</integer>
	<key>Sapporo</key>
	<integer>1972</integer>
	<key>Munich</key>
	<integer>1972</integer>
	<key>Moscow</key>
	<integer>1980</integer>
	<key>Sarajevo</key>
	<integer>1984</integer>
	<key>Barcelona</key>
	<integer>1992</integer>
	<key>Lillehammer</key>
	<integer>1994</integer>
	<key>Atlanta</key>
	<integer>1996</integer>
	<key>Nagano</key>
	<integer>1998</integer>
	<key>Sydney</key>
	<integer>2000</integer>
	<key>Turin</key>
	<integer>2006</integer>
	<key>Beijing</key>
	<integer>2008</integer>
	<key>Sochi</key>
	<integer>2014</integer>
	<key>Rio</key>
	<integer>2016</integer>
</dict>
</plist>
